.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chat-messages {
  height: 200px;
  overflow-y: scroll;
}

.message-btn-container {
  display: flex;
  gap: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;
  background-color: lightblue;
  border-radius: 5px;
  cursor: pointer;
}